@import "btn.styles.less";

.body-theme-light {
  --font-color: #141414;
  --font-color-secondary: #626264;
  --bg-primary: #f6f5f9;
  --bg-secondary: #fff;
  --bg-nav: #28224b;
  --bg-nav-secondary: #2a244e;
  --bg-header: #28224b;
  --gold: #eab14f;
  --font-color-placeholder: #999999;
  --color-primary: #3457b1;
  --btn-color: #28224b;
  --btn-color-hover: #fff;

  // btn
  --btn-link-color: #eab150;
  --btn-link-bg-hover: rgba(234, 177, 80, 0.15);
  --btn-link-color-disabled: #e7ca9a;

  --btn-icon-color: #3457b1;

  --btn-default-bg: transparent;
  --btn-default-color: #000000;
  --btn-default-color-hover: #244497;
  --btn-default-border-color: #cdcddf;
  --btn-default-border-color-hover: #244497;

  --btn-bg-default-primary-bg: #3457b1;
  --btn-bg-default-primary-bg-hover: #244497;
  --btn-bg-default-primary-bg-disabled: rgba(52, 87, 177);

  --btn-bg-default-warning-bg: #eab150;
  --btn-bg-default-warning-bg-hover: #d29d43;
  --btn-bg-default-warning-bg-disabled: #e7ca9a;

  --btn-bg-default-error-bg: #eb5757;
  --btn-bg-default-error-bg-hover: #cd3939;
  --btn-bg-default-error-bg-disabled: rgba(235, 87, 87);

  --btn-bg-default-success-bg: #27ae60;
  --btn-bg-default-success-bg-hover: #27ae60;
  --btn-bg-default-success-bg-disabled: rgba(39, 174, 96);
}

.body-theme-dark {
  --font-color: #ffffff;
  --font-color-secondary: #e5e5e5;
  --bg-primary: #141414;
  --bg-secondary: #292929;
  --bg-nav: #292929;
  --bg-nav-secondary: #484848;
  --bg-header: #141414;
  --gold: #eab14f;
  --font-color-placeholder: #ffffff;
  --color-primary: #afc2f3;
  --btn-color: #fff;
  --btn-color-hover: #28224b;

  // btn
  --btn-link-color: #eab150;
  --btn-link-bg-hover: rgba(234, 177, 80, 0.15);
  --btn-link-color-disabled: #e7ca9a;

  --btn-icon-color: #5ea5f1;

  --btn-default-bg: transparent;
  --btn-default-color: #ffffff;
  --btn-default-color-hover: #5ea5f1;
  --btn-default-border-color: #3d4c5a;
  --btn-default-border-color-hover: #5ea5f1;

  --btn-bg-default-primary-bg: #5ea5f1;
  --btn-bg-default-primary-bg-hover: #3576bc;
  --btn-bg-default-primary-bg-disabled: #5ea5f1;

  --btn-bg-default-warning-bg: #eab150;
  --btn-bg-default-warning-bg-hover: #d29d43;
  --btn-bg-default-warning-bg-disabled: #eab150;

  --btn-bg-default-error-bg: #bf5c5c;
  --btn-bg-default-error-bg-hover: #ac3737;
  --btn-bg-default-error-bg-disabled: #bf5c5c;

  --btn-bg-default-success-bg: #388f5d;
  --btn-bg-default-success-bg-hover: #196a3c;
  --btn-bg-default-success-bg-disabled: #388f5d;
}
